<h1>Merchants</h1>

<% @merchants.each do |merchant| %>
  <%= link_to merchant.name, "/merchants/#{merchant.id}" %>
  <%= merchant.address %>
  <%= merchant.city %>
  <%= merchant.state %>
  <%= merchant.zip %>
<% end %>

<%= link_to "Add Merchant", "merchants/new", method: :get %>
